.speechContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: 2rem auto;
}

.searchContainer{    
    width: 40%;
    display: grid;
    grid-template-columns: 20fr 1fr;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 50px;
    padding: 0.2rem 0.6rem;
    overflow: hidden;
    position: relative;
}

.inputBox {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    outline: none;
    border: none;
    background-color: white !important;
}

.searchBarBtnsContainer {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.searchBarBtn {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: black;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.cancelBtn {
    font-size: 0.8rem;
}
/* 
.sendBtn {
    font-size: 1.8rem;
    padding-left: 2px;
} */

.micContainer{
    display: grid;
    place-items: center;
    background: black;
    color: white;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    border: none;
}

.blink{
    position: relative;
    height: 4rem;
    width: 4rem;
    user-select: none;
}

.blink::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4rem;
    width: 4rem;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: rgba(0, 0, 0,0.2);
    z-index: -10;
    animation: blink 2s ease-in infinite;
}

@keyframes blink {
    50%{
        height: 5rem;
        width: 5rem;
    }
}

.micContainer *{
    color: white;
    font-size: 1.6rem;
}

@media only screen and (max-width: 1144px) and (min-width: 601px) {
    .searchContainer{
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {

    .speechContainer{
        width: 90%;
        gap: 0.3rem;
    }

    .searchContainer{
        width: 90%;
    }
    .inputBox{
        font-size: 0.75rem;
        padding: 0.75rem;
    }

    .searchBarBtnsContainer{
        right: 5px;
    }

    .blink{
        position: relative;
        user-select: none;
    }
    
    .blink::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 3rem;
        width: 3rem;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background: rgba(0, 0, 0,0.2);
        z-index: -10;
        animation: blink 2s ease-in infinite;
    }
    
    @keyframes blink {
        50%{
            height: 3.5rem;
            width: 3.5rem;
        }
    }

    .micContainer, .blink{
        height: 3rem;
        width: 3rem;
        user-select: none;
    }

    .micContainer *{
        height: 50%;
        width: 50%;
        user-select: none;

    }

    .cancelBtn{
        font-size: 0.7rem;
        user-select: none;
    }

    .cancelBtn *{
        user-select: none;
    }
}

